e2e/api/Banca/Web References/MQUAT/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Insc.MQ.WebService.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Insc.MQ.WebService.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Insc.MQ.WebService.org/">
      <s:element name="RequestReplyNick">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MQParms" type="tns:MQParms" />
            <s:element minOccurs="0" maxOccurs="1" name="channelDefinition" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inQueueName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outQueueName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queueManagerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="WaitInterval" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="exMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CompletionCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ReasonCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MQParms">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="messageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="waitInterval" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="exMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompletionCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReasonCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReasonName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PutDataDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogFilePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MQLogType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MqMsg_Persistence" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MqMsg_Expiry" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseTime" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="InputQueue_CurrentDepth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OutputQueue_CurrentDepth" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestReplyNickResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestReplyNickResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MQParms" type="tns:MQParms" />
            <s:element minOccurs="0" maxOccurs="1" name="messageId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CompletionCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ReasonCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunMQString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Inputstring" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunMQStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunMQStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestReplyNickSoapIn">
    <wsdl:part name="parameters" element="tns:RequestReplyNick" />
  </wsdl:message>
  <wsdl:message name="RequestReplyNickSoapOut">
    <wsdl:part name="parameters" element="tns:RequestReplyNickResponse" />
  </wsdl:message>
  <wsdl:message name="RunMQStringSoapIn">
    <wsdl:part name="parameters" element="tns:RunMQString" />
  </wsdl:message>
  <wsdl:message name="RunMQStringSoapOut">
    <wsdl:part name="parameters" element="tns:RunMQStringResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="RequestReply">
      <wsdl:input name="RequestReplyNick" message="tns:RequestReplyNickSoapIn" />
      <wsdl:output name="RequestReplyNick" message="tns:RequestReplyNickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunMQString">
      <wsdl:input message="tns:RunMQStringSoapIn" />
      <wsdl:output message="tns:RunMQStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestReply">
      <soap:operation soapAction="http://Insc.MQ.WebService.org/RequestReplyNick" style="document" />
      <wsdl:input name="RequestReplyNick">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RequestReplyNick">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunMQString">
      <soap:operation soapAction="http://Insc.MQ.WebService.org/RunMQString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestReply">
      <soap12:operation soapAction="http://Insc.MQ.WebService.org/RequestReplyNick" style="document" />
      <wsdl:input name="RequestReplyNick">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RequestReplyNick">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunMQString">
      <soap12:operation soapAction="http://Insc.MQ.WebService.org/RunMQString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.1.41.124/mq/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.1.41.124/mq/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>